
<div id="end-user" [class.aSecondPlease]="menuView">

  <section
    class="printek-topbar"
    [class.no-scroll]="isAbsolute(o.activatedRouteData)"
    printekScrollSync>
    <div class="container">
  
      <div class="menu-toggle" (click)="toggleMenu()">
        <div class="fukocons menu"></div>
        <div class="fukocons plus"></div>
      </div>

      <div id="printek" class="printek"></div>
      <a class="fukocons cart" routerLink="/sepetim"></a>

      <printek-menu
        (click)="toggleMenu()"
        [@aSecondPlease]="menuView">
      </printek-menu>
  
    </div>
  </section>


  <section class="printek-window">

    <div
      class="printek-page"
      [@route]="getState(o.activatedRouteData)"
      (@route.start)="scrollToBarycenter(o.activatedRouteData)">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="overlay" (click)="toggleMenu()"></div>

  </section>
</div>  
