
<!-- Stagger Menu Items with Animations -->
<section class="printek-offcanvas__menu">
  <div class="container">

    <div id="printek" class="printek"></div>
    <printek-menu></printek-menu>
    <div class="fukocons menu" (click)="toggleMenu()"></div>

  </div>
</section>


<!-- Transition page on menuClick -->
<section class="printek-offcanvas__page">  
  <!-- Check If this wrapper is necessary -->
  <section [@route]="getState(o.activatedRouteData)">
    <router-outlet #o="outlet"></router-outlet>
  </section>

</section>

