
:host {
    display: flex;
    flex-direction: column;
}

.printek-topbar {
    position: fixed;
    z-index: 9;
    width: 100%;
    // background:
    //     url('../../assets/yosemite/yosemite-767.png')
    //     #fff no-repeat top center / cover;
    background-color: #fff;
    box-shadow: 0 0 40px -20px;
    -moz-box-shadow: 0 0 30px -20px;
    will-change:
        background-position,
        background-color,
        background-image,
        box-shadow;
    transform: translateZ(0);
    transition:
        box-shadow          0.3s ease 0.8s,
        background-image    0.3s ease 0.8s,
        background-color    0.3s ease 0.8s,
        background-position 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        transition: background-color 0.3s ease 0.8s;
    }

    &.no-scroll {
        // !important due to #root selector in responsive.scss
        background-image: none !important;
        background-color: transparent !important;
        box-shadow: none;

        &::before {
            background-color: transparent;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }

    .menu-toggle {
        position: relative;
    }

    .fukocons {
        background-color: #1FA2FF;
        cursor: pointer;

        &.menu {
            transition: opacity 0.3s ease 0.3s;
        }

        &.plus {
            position: absolute;
            top: 0;
            opacity: 0;
            transition:
                opacity   0.3s ease,
                transform 0.3s ease;
        }
    }

    .printek {
        width: 140px;
        height: 32px;
        mask:
            url('../../assets/printek.svg')
            no-repeat center/contain;
        background-image:
            linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);
    }

    printek-menu {
        // Animation States handles this property
        // they persist even after animation ends
        //
        // display: none;
        will-change: transform;
        transform: translateZ(0);
        position: absolute;
        top: 96px;
        left: 10vw;
        flex-direction: column;
    }
}


.printek-window {
    // height: 100vh;
    // overflow-y: scroll;
    min-height: 100vh;
    will-change:
        transform,
        box-shadow;
    transform: translateZ(0);
    transform-origin: center right;
    transition:
        transform 0.4s ease 0.3s,
        box-shadow 0.3s ease 0.3s;

    &.boxed {
        height: 100vh;
        overflow-y: scroll;
    }

    .printek-page {
        // height: 100%;
        // overflow-y: scroll;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: none;
    }
}


#end-user {
    overflow: hidden;
}
.aSecondPlease {

    .printek-topbar {
        box-shadow: none;
        transition: box-shadow 0.3s ease 0.8s;

        &::before {
            background-color: #fff;
            transition: background-color 0.3s ease;
        }

        .fukocons {
            &.menu {
                opacity: 0;
                transition: opacity 0.3s ease 0.3s;
            }
            &.plus {
                opacity: 1;
                transform: rotateZ(45deg);
                transition:
                    opacity   0.3s ease 0.6s,
                    transform 0.3s ease 0.6s;
            }
        }
    }

    .printek-window {
        z-index: 10;
        transform:
            scale(0.7)
            translateX(200px)
            translateY(32px)
            translateZ(0);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        transition:
            transform  0.4s ease,
            box-shadow 0.3s ease 0.4s;
    }

    .overlay {
        display: block;
    }
}