
:host {
    display: flex;
    flex-direction: column;
}

.topbar {
    position: fixed;
    z-index: 9;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0;
    }

    .printek {
        width: 140px;
        height: 32px;
        mask:
            url('../../assets/printek.svg')
            no-repeat center/contain;
        background-image: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);
    }

    nav {
        display: flex;

        a {
            display: flex;
            align-items: center;
            margin: 0 16px;
            text-decoration: none;
            font-family: Raleway;
            color: #12D8FA;
            font-weight: bold;
            transition: color 0.2s ease;

            .fukocons {
                background-color: #12D8FA;
            }

            // CAUTION: Hard Coded Style!
            // Needs to be updated if menu items changed.
            &:nth-child(5)::before {
                content: '';
                width: 64px;
            }

            &.active, &:hover {
                color: #1FA2FF;

                .fukocons {
                    background-color: #1FA2FF;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}



.footer {
    position: relative;
    overflow: hidden;
    margin: 128px 0 0 0;
    background-image: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);

    .container {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 64px 0;
    }
    
    .footer__menu {
        flex-wrap: wrap;
        max-height: 144px;

        a:nth-child(4) {
            margin: 0;
        }
    }

    .footer__menu,
    .footer__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a,
        .footer__info-adress,
        .footer__info-phone {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 32px 16px 0;
            text-decoration: none;
            font-weight: bold;
            font-family: raleway;
        }

        a {
            color: rgba(255, 255, 255, 0.7);
            transition: color 0.2s ease;
            
            .fukocons {
                background-color: rgba(255, 255, 255, 0.7);
            }

            &.active,
            &:hover {
                color: #fff;

                .fukocons {
                    background-color: #fff;
                }
            }
        }
    }

    .footer__info {
        background-color: #fff;

        .footer__info-adress,
        .footer__info-phone {
            color: #1FA2FF;
            font-family: roboto;
            font-weight: 400;

            .fukocons {
                background-color: #1FA2FF;
            }
        }
    }

    // .branded-by {
    //     background-color: #222;
    //     color: #ffcf40;
    //     padding: 4px 0;

    //     .license {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         font-weight: bold;
    //         font-size: 12px;
    //         font-family: roboto;
    //     }

    //     .fukocons {
    //         background-color: #ffcf40;

    //         &.copyleft {
    //             width: 16px;
    //             height: 16px;
    //         }

    //         &.acar {
    //             width: 77px;
    //         }
    //     }
    // }

    .footer__solar {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
        .orbit {
            border-radius: 100%;
            border: 1px solid rgba(255, 255, 255, 0.8);
            padding: 64px;
        }

        .barycenter {
            background-color: #fff;
            box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.3);

            .printek {
                mask: url('../../assets/printek.svg') no-repeat center/contain;
                background-image: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);
                width: 120px;
                height: 120px;
            }
        }
    }
}