:host {
    display: flex;

    a {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 16px;
        text-decoration: none;
        font-family: Raleway;
        color: #12D8FA;
        font-weight: 700;
        transition: color 0.2s ease;

        .fukocons {
            background-color: #12D8FA;
        }

        &:nth-child(2),
        &:nth-child(3) {
            &::before {
                content: 'Yakında!';
                position: absolute;
                z-index: 1;
                top: -22px;
                left: -16px;
                opacity: 0.7;
                border-radius: 10px;
                background-color: rgb(94, 209, 0);
                color: #fff;
                font-weight: 700;
                font-size: 11px;
                padding: 4px 12px;
            }
        }
        // CAUTION: Hard Coded Style!
        // Needs to be updated if menu items changed.
        &:nth-child(5)::before {
            content: '';
            width: 64px;
        }

        &.active, &:hover {
            color: #1FA2FF;

            .fukocons {
                background-color: #1FA2FF;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}