<section class="printek-section printek-section--craft">
  <div class="canvas">
    <div class="phone"></div>
    <div class="phone"></div>
    <div class="phone"></div>
    <div class="phone"></div>
    <div class="phone"></div>
  </div>
</section>

<div class="container">
  <section class="printek-section printek-section--text">
    <div class="section-heading">
      <div class="underlay">Onarım</div>
      <h1>Mobil Cihaz</h1>
    </div>

    <p>
      Tablet, telefon ve navigasyon cihazları gibi dokunmatik mobil cihazlarda sıklıkla rastlanan ekran kırılmaları, batarya sorunları, buton ve soketlerin işlevselliğini yitirmesi gibi sorunlara çözüm getiriyoruz.
    </p>

    <div class="printek-box">
      <div class="fukocons mobile"></div>
      <div>Ekran Değişimi</div>
    </div>

    <div class="printek-box">
      <div class="fukocons battery"></div>
      <div>Batarya Değişimi</div>
    </div>

    <div class="printek-box">
      <div class="fukocons socket"></div>
      <div>Soket Onarımı & Değişimi</div>
    </div>

    <div class="printek-box">
      <div class="fukocons iphone-home"></div>
      <div>Buton Değişimi</div>
    </div>
  </section>
</div>