<section class="printek-section printek-section--craft">
  <div class="canvas">
    <div class="phone"></div>
    <div class="phone"></div>
    <div class="phone"></div>
    <div class="phone"></div>
    <div class="phone"></div>
  </div>
</section>

<div class="container">
  <section class="printek-section printek-section--text">
      <h1>Mobil Cihaz</h1>
      <h2>Tamir&Bakım</h2>

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, aspernatur odit expedita quod autem cupiditate rem neque maiores, cum impedit tenetur rerum eos dignissimos atque velit doloremque delectus illo vel?
      </p>

      <div class="printek-box">
        <div class="fukocons services"></div>
        <div>Service 1</div>
      </div>

      <div class="printek-box">
        <div class="fukocons contact"></div>
        <div>Service 2</div>
      </div>
  </section>
</div>