
:host {

    --barycenter : 62px;
    --cover      : 200vh;
    --times      : 14;

    --degree-01-01 :  10deg;
    --degree-02-01 :  -5deg;
    --degree-02-02 : 185deg;
    --degree-03    : 175deg;


    /* iPhone 6/7/8 */
    @media only screen and (min-width : 375px) {
    
        --degree-01-01 :  20deg;
        --degree-02-01 : -10deg;
        --degree-02-02 : 190deg;
        --degree-03    : 175deg;
    }
    
    
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        
        --degree-01-01 :  40deg;
        --degree-02-01 : -50deg;
        --degree-02-02 : 200deg;
        --degree-03    : 170deg;

        --barycenter   : 124px;
        --cover        : 200vw;

        #printek__universe {
            padding: 128px 0 16px 0;
        }
    }
    
    
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    
        --degree-01-01 : -65deg;
        --degree-02-01 : -25deg;
        --degree-02-02 :  35deg;
        --degree-03    :  80deg;
    
        #printek__universe {
            // padding: 122px 0 0 0;
    
            .printek__orbit {
                padding: 96px;
    
                &.orbit--04 {
                    border-width: 1px;
                }
                &.barycenter {
                    padding: 0;
                }
            }
        }
    }


    @media only screen and (min-width : 1200px) {

        --barycenter : 250px;
        --times      : 14;
    }


    @media only screen and (min-width : 1366px) {

        --barycenter : 400px;
    }
}