<div class="printek__universe" id="printek__universe">
  <div class="printek__solar" [class.let-it-spin]="isSpinConfirmed">

    <div class="printek__orbit orbit--04">
      <div class="printek__track track--04">
        <!-- <div class="printek__planet planet--04"></div> -->
      </div>
      
      <div class="printek__orbit orbit--03">
        <div class="printek__track track--03 dusk-right">
            <div class="printek__planet">
                <div class="planet__heading">
                  <div class="fukocons mobile"></div>
                  <h4>Mobil Onarım</h4>
                </div>
                <p>Telefonlarınızı ve tabletlerinizi onarıyoruz.</p>
              </div>
        </div>

        <div class="printek__orbit orbit--02">
          <div class="printek__track track--02-01 dusk-left">
            <div class="printek__planet">
              <div class="planet__heading">
                <div class="fukocons store"></div>
                <h4>Mağaza</h4>
              </div>
              <p>Elektronik cihazları ve sarf malzemeleri pazarlıyoruz.</p>
            </div>
          </div>
          <div class="printek__track track--02-02 dusk-right">
              <div class="printek__planet">
                <div class="planet__heading">
                  <div class="fukocons printer"></div>
                  <h4>Yazıcı Tamir</h4>
                </div>
                <p>Ofis ve endüstriyel yazıcılarınızı tamir ediyoruz.</p>
            </div>
          </div>

          <div class="printek__orbit orbit--01">
            <div class="printek__track track--01-01 dusk-left">
              <div class="printek__planet">
                <div class="planet__heading">
                  <div class="fukocons bottles"></div>
                  <h4>Kartuş & Toner</h4>
                </div>
                <p>Yazıcınızın kartuş ve toner dolumunu yapıyoruz.</p>
              </div>
            </div>
            <div class="printek__orbit barycenter">
              <a routerLink="/iletisim"></a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>