<div class="container">
  <section class="printek-section printek-section--text">
    <h1>Kartuş&Toner</h1>
    <h2>Dolum&Satış</h2>
  
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum quae, quaerat nobis dolores labore vero debitis ratione aut consequatur atque, porro cumque nostrum beatae suscipit quo molestias fugit dolorum.
    </p>
  
    <div class="box-grid">
      <div class="printek-box">
        <div class="fukocons drop"></div>
        <div>Kartuş Dolum</div>
      </div>
  
      <div class="printek-box">
          <div class="fukocons dots"></div>
          <div>Toner Dolum</div>
        </div>
  
      <div class="printek-box">
        <div class="fukocons sale"></div>
        <div>Orijinal & Muadil</div>
      </div>
    </div>
  </section>
</div>

<section class="printek-section printek-section--craft">
  <div class="canvas">
    <div class="cartridge-box"></div>
    <div class="cartridge-box"></div>
    <div class="cartridge-box"></div>
  </div>
</section>