<section class="printek-section printek-section--craft">
  <div class="canvas">
    <div class="cartridge-box"></div>
    <div class="cartridge-box"></div>
    <div class="cartridge-box"></div>
  </div>
</section>

<div class="container">
    <section class="printek-section printek-section--text">
      <div class="section-heading">
        <div class="underlay">Dolum&Satış</div>
        <h1>Kartuş&Toner</h1>
      </div>
    
      <p>
        Ofis ve endüstriyel yazıcılarınızın toner ve kartuş dolumlarını yapıyor ve bununla birlikte orijinal ve muadil olarak sıfır satışını yapıyoruz.
        <br/><br/>
        Çoğunlukla kullanılan modelleri raflarımızda bulabileceğiniz gibi diğer modelleri de talep edildiği takdirde sağlayabiliyoruz.
      </p>
    
      <div class="box-grid">
        <div class="printek-box">
          <div class="fukocons drop"></div>
          <div>Kartuş Dolum</div>
        </div>
    
        <div class="printek-box">
            <div class="fukocons dots"></div>
            <div>Toner Dolum</div>
          </div>
    
        <div class="printek-box">
          <div class="fukocons sale"></div>
          <div>Orijinal & Muadil</div>
        </div>
      </div>
    </section>
  </div>