<section class="section--entry">
  <div class="printek__universe">
    <div class="printek__solar" id="printek__solar" [class.let-it-spin]="isSpinConfirmed">

      <div class="printek__orbit orbit--04">
        <div class="printek__track track--04">
          <!-- <div class="printek__planet planet--04"></div> -->
        </div>
        
        <div class="printek__orbit orbit--03">
          <div class="printek__track track--03 dusk-right">
              <div class="printek__planet">
                  <div class="planet__heading">
                      <div class="fukocons user"></div>
                      <h4>Hello!</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
          </div>

          <div class="printek__orbit orbit--02">
            <div class="printek__track track--02 dusk-left">
              <div class="printek__planet">
                <div class="planet__heading">
                    <div class="fukocons store"></div>
                    <h4>Mağaza</h4>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>

            <div class="printek__orbit orbit--01">
              <div class="printek__track track--01-01 dusk-left">
                <div class="printek__planet">
                  <div class="planet__heading">
                      <div class="fukocons services"></div>
                      <h4>Servisler</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="printek__track track--01-02 dusk-right">
                  <div class="printek__planet">
                    <div class="planet__heading">
                        <div class="fukocons request"></div>
                        <h4>Talep</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
              <div class="printek__orbit barycenter">
                <a routerLink="/iletisim"></a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>