<agm-map
  [latitude]="map.lat"
  [longitude]="map.lng"
  [zoom]="map.zoom"
  [disableDefaultUI]="true"
  [draggable]="false">
  <agm-marker
    [latitude]="marker.lat"
    [longitude]="marker.lng">
  </agm-marker>
</agm-map>

<!-- <div class="info printek-box">
  <div class="info__adress">
    <div class="fukocons store"></div>
    <div>
      Sinanbey Mahallesi,<br/>
      Katip Ahmet Efendi Sk.<br/>
      No:8, 16400 İnegöl/Bursa
    </div>
  </div>

  <div class="info__phone">
    <div class="fukocons phone"></div>
    <div>(0224) 711 <strong>39 29</strong></div>
  </div>
</div> -->