<section class="printek-section printek-section--craft">
  <div class="canvas">
    <div class="printer">
      <div class="paper-io paper-input">
        <div class="paper-io__lid"></div>
      </div>
      
      <div class="front">
        <div class="paper-io paper-output">
          <div class="paper-io__lid"></div>
        </div>
      </div>

      <div class="side"></div>
    </div>

    <div class="computer">
        <div class="lid"></div>
      </div>
  </div>
</section>

<div class="container">
  <section class="printek-section printek-section--text">
    <h1>Yazıcı&Bilgisayar</h1>
    <h2>Tamir&Satış</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolores est adipisci consequuntur? Voluptates, ut ipsam quisquam neque expedita provident delectus, perferendis officia porro, inventore tempore optio odio excepturi possimus.
    </p>

    <div class="printek-box">
      <div class="fukocons services"></div>
      <div>Service 1</div>
    </div>

    <div class="printek-box">
      <div class="fukocons contact"></div>
      <div>Service 2</div>
    </div>
  </section>
</div>