<section class="printek-section printek-section--craft">
  <div class="canvas">
    <div class="printer">
      <div class="paper-io paper-input">
        <div class="paper-io__lid"></div>
      </div>
      
      <div class="front">
        <div class="paper-io paper-output">
          <div class="paper-io__lid"></div>
        </div>
      </div>

      <div class="side"></div>
    </div>

    <div class="computer">
        <div class="lid"></div>
      </div>
  </div>
</section>

<div class="container">
  <section class="printek-section printek-section--text">
    <div class="section-heading">
      <div class="underlay">Tamir&Bakım</div>
      <h1>Yazıcı&Bilgisayar</h1>
    </div>

    <p>
      Kişisel bilgisayarlarınızın tamir ve bakımını yapıyor, ihtiyaç duyduğunuz  çevre birimlerini ve yazılımları sağlıyoruz.
      <br/><br/>
      Ofis ve endüstriyel yazıcılarınızın tamirini ve parça değişimini yapıyoruz. İşyerlerinde kullanılan yazıcılarınızı talep ettiğiniz takdirde adresinizden alıp işlem sonrası adresinize teslim ediyoruz.
    </p>

    <div class="printek-box">
      <div class="fukocons printer"></div>
      <div>Yazıcı Tamiri</div>
    </div>

    <div class="printek-box">
      <div class="fukocons cylinder"></div>
      <div>Drum Temizleme & Değişimi</div>
    </div>

    <div class="printek-box">
      <div class="fukocons format"></div>
      <div>Bilgisayar Format</div>
    </div>

    <div class="printek-box">
      <div class="fukocons broken-laptop"></div>
      <div>Monitör Tamiri & Yenilemesi</div>
    </div>
  </section>
</div>