<div class="footer__solar">
  <div class="orbit">
    <div class="orbit">
      <div class="orbit">
        <div class="orbit barycenter">
          <div class="printek"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <printek-menu id="footer__menu"></printek-menu>

  <div class="footer__info printek-box">
    
    <div class="footer__info-adress">
      <div class="fukocons store"></div>
      <div class="text">
        Sinanbey Mahallesi,<br/>
        Katip Ahmet Efendi Sk.<br/>
        No:8, 16400 İnegöl/Bursa
      </div>
    </div>

    <div class="footer__info-phone">
      <div class="fukocons phone"></div>
      <div class="text">(0224) 711 <strong>39 29</strong></div>
    </div>

  </div>
</div>

<!-- <div class="branded-by">
  <div class="container">

    <div class="license">
      <div class="fukocons copyleft"></div>
      <div>Copyleft 2019</div>
    </div>

    <div class="acar-digital">
      <a href="https://acar.digital" target="_blank">
        <div class="fukocons acar"></div>
      </a>
    </div>

  </div>
</div> -->