
.fukocons {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #888;
  transition: background-color 0.2s ease;

  &.services {
    mask-image: url('./assets/fukocons/services.svg')
  }
  &.store {
    mask-image: url('./assets/fukocons/store.svg')
  }
  &.request {
    mask-image: url('./assets/fukocons/request.svg')
  }
  &.user {
    mask-image: url('./assets/fukocons/user.svg')
  }
  &.cart {
    mask-image: url('./assets/fukocons/cart.svg')
  }
  &.contact {
    mask-image: url('./assets/fukocons/contact.svg')
  }
  &.sale {
    mask-image: url('./assets/fukocons/sale.svg')
  }
  &.drop {
    mask-image: url('./assets/fukocons/drop.svg')
  }
  &.dots {
    mask-image: url('./assets/fukocons/dots.svg')
  }
  &.copyleft {
    mask-image: url('./assets/fukocons/copyleft.svg')
  }
  &.acar {
    mask-image: url('./assets/fukocons/acar.svg')
  }
  &.phone {
    mask-image: url('assets/fukocons/phone.svg')
  }
  &.menu {
    mask-image: url('assets/fukocons/menu.svg')
  }
  &.plus {
    mask-image: url('assets/fukocons/plus.svg')
  }
  &.button--next {
    mask-image: url('assets/fukocons/next.svg')
  }
  &.button--prev {
    mask-image: url('assets/fukocons/prev.svg')
  }
  &.printer {
    mask-image: url('assets/fukocons/printer.svg')
  }
  &.mobile {
    mask-image: url('assets/fukocons/mobile.svg')
  }
  &.bottles {
    mask-image: url('assets/fukocons/bottles.svg')
  }
  &.format {
    mask-image: url('assets/fukocons/format.svg')
  }
  &.broken-laptop {
    mask-image: url('assets/fukocons/broken-laptop.svg')
  }
  &.cylinder {
    mask-image: url('assets/fukocons/cylinder.svg')
  }
  &.battery {
    mask-image: url('assets/fukocons/battery.svg')
  }
  &.socket {
    mask-image: url('assets/fukocons/socket.svg')
  }
  &.iphone-home {
    mask-image: url('assets/fukocons/iphone-home.svg')
  }

  // &.marker {
  //   mask-image: url('assets/fukocons/marker.svg');
  // }

  // &.mail {
  //   mask-image: url('assets/fukocons/mail.svg');
  // }

  // &.arrow--prev {
  //   mask-image: url('assets/fukocons/arrow-prev.svg');
  // }

  // &.add {
  //   mask-image: url('assets/fukocons/add.svg');
  // }

  // &.up {
  //   mask-image: url('assets/fukocons/up.svg');
  // }

  // &.down {
  //   mask-image: url('assets/fukocons/down.svg');
  // }

  // &.save {
  //   mask-image: url('assets/fukocons/check.svg');
  // }

  // &.remove {
  //   mask-image: url('assets/fukocons/remove.svg');
  // }

  // &.upload {
  //   mask-image: url('assets/fukocons/upload.svg');
  // }

  // &.logout {
  //   mask-image: url('assets/fukocons/logout.svg');
  // }

  // &.menu {
  //   mask-image: url('assets/fukocons/menu.svg');
  // }

  // &.filter {
  //   mask-image: url('assets/fukocons/filter.svg');
  // }
}
