#root + * {

    // Needs to be global due to encapsulation
    // Used by 
    /*
        printek-services
        printek-printek-universe
    */
    --universe-outer : 96px;
    --radius         : calc(100vh - 122px);
    --diameter       : 900px;
    --universe       : calc(var(--diameter) + var(--universe-outer));


    /* iPhone 5 */ 
    @media only screen and (min-width : 320px) {}


    /* iPhone 6/7/8 */
    @media only screen and (min-width : 375px) {}

    
    /* Phones */ 
    @media only screen and (min-width : 480px) {}


    /* Custom */
    @media only screen and (min-width : 600px) {}
    
    
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

        --universe-outer : 128px;
        
        .printek-topbar {

            background:
                url('assets/yosemite/yosemite-991.png')
                #fff no-repeat top center / cover;

            .container {
                padding: 32px 0;
            }
        }
    
        .container {
            width: unset;
            max-width: 704px;
        }


        .printek-row-component {
            &:nth-child(even) {
                .printek-section--text {
                    left: 50%;
                }
                .printek-section--craft {
                    justify-content: flex-end;
                }
            }
            &:nth-child(odd) {
                .printek-section--craft {
                    left: 50%;
                    justify-content: flex-start;
                }
            }

            .printek-section {
                width: 50%;

                &.printek-section--craft {
                    opacity: 1;
                }
            }
        }

        .printek-section--text {
            h1 {
                font-size: 2.7em;
            }
            h2 {
                font-size: 2.2em;
            }
        }
    }
    
    
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

        .printek-page {
            transform: scale(1);
        }

        .printek-topbar {
            background:
                url('assets/yosemite/yosemite-1199.png')
                #fff no-repeat top center / cover;
        }

        .printek-topbar .container {

            printek-menu {
                display: flex !important;
                transform: unset !important;
                position: unset;
                flex-direction: unset;

                a {
                    margin: 0 16px;

                    &:nth-child(5) {
                        flex-direction: unset;
                
                        &::before {
                            content: '';
                            width: 64px;
                        }
                    }
                    &:last-child {
                        display: flex;
                    }
                }
            }

            > .fukocons,
            .menu-toggle {
                display: none;
            }
        }
        
        .container {
            max-width: 960px;
        }
    
        .printek-section--text {
            h1 {
                font-size: 3.7em;
            }
            h2 {
                font-size: 3em;
            }
        }

        
        printek-contact {
            acar-ui-carousel .slider__buttons {
                align-items: center;
                left: unset;
            }
        }
    }
    
    
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

        --diameter   : calc(var(--radius) *2);

        .printek-topbar {
            background:
                url('assets/yosemite/yosemite-1356.png')
                #fff no-repeat top center / cover;
        }
    }


    @media only screen and (min-width : 1366px) {

        --diameter   : 1200px;

        .printek-topbar {
            background:
                url('assets/yosemite/yosemite-1680.png')
                #fff no-repeat top center / cover;
        }
    }
}