/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .container {
        margin: 0 auto;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .container {
        max-width: 736px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container {
        max-width: 960px;
    }

    .printek__solar {
        // max-height: 992px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        max-width: 1164px;
    }

    .printek__solar {
        // max-height: 1164px;
    }
}