
@import './fukocons.scss';
@import './responsive.scss';

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 80vw;
}

.printek-row-component {
    position: relative;
    display: flex;
    align-items: center;
    padding: 64px 0 128px 0;
    box-sizing: border-box;
}

.printek-section {
    position: relative;
    flex: 1 0 auto;
    overflow: hidden;
    width: 100%;
    
    &.printek-section--craft {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
        opacity: 0.1;
    }
    &.printek-section--text {
        z-index: 1;

        h1, h2 {
            font-weight: bold;
            font-family: raleway;
            margin: 0;
        }
        
        h1 {
            font-size: 1.9em;
            background-image: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        h2 {
            font-size: 1.6em;
            color: rgba(0, 0, 0, 0.2);
        }
        
        p {
            margin: 64px 0;
            font-family: roboto;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.7)
        }
    }
}

.printek-box {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding: 16px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7);
    font-family: raleway;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}


// Multi-used 'printek-menu' component
// needs to be styled globally due to encapsulation
#footer__menu a {
    justify-content: center;
    margin: 0 32px 16px 0;
    color: rgba(255, 255, 255, 0.7);
    
    .fukocons {
        background-color: rgba(255, 255, 255, 0.7);
    }

    &.active,
    &:hover {
        color: #fff;

        .fukocons {
            background-color: #fff;
        }
    }
    &:nth-child(4) {
        margin: 0;
    }
    &:nth-child(5)::before {
        content: none;
    }
}


#end-user .printek-topbar printek-menu a {
    margin: 16px 0;
    transform-origin: top left;

    &:nth-child(5) {
        flex-direction: row-reverse;

        &::before {
            content: 'Hesabım';
            width: unset;
        }
    }
    &:last-child {
        display: none;
    }
}
