
@import './fukocons.scss';
@import './responsive.scss';

@font-face {
    font-family: 'Raleway';
    src: url('../src/assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Raleway';
    src: url('../src/assets/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Raleway';
    src: url('../src/assets/fonts/Raleway/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'roboto';
    src: url('../src/assets/fonts/Roboto/Roboto-Regular.ttf') fromat('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'roboto';
    src: url('../src/assets/fonts/Roboto/Roboto-Bold.ttf') fromat('truetype');
    font-weight: 700;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 80vw;
}

.printek-row-component {
    position: relative;
    display: flex;
    align-items: center;
    padding: 64px 0 128px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.printek-section {
    position: relative;
    flex: 1 0 auto;
    overflow: hidden;
    width: 100%;
    
    &.printek-section--craft {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
        opacity: 0.1;
    }
    &.printek-section--text {
        // z-index: 1;
        overflow: unset;

        .section-heading {
            position: relative;
            display: inline-flex;
            justify-content: center;
            font-family: raleway;
        }
        
        h1 {
            margin: 0;
            font-size: 1.9em;
            font-weight: 800;
            font-family: raleway;
            background-image:
                linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB 110%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &::before {
                position: absolute;
                z-index: -1;
                width: max-content;
                text-shadow:
                    0 -10px 20px #fff,
                    0 20px 30px rgba(0, 0, 0, 0.1);
                font-weight: 900;
            }
        }

        .underlay {
            position: absolute;
            top: -30px;
            z-index: -2;
            font-size: 50px;
            font-weight: 900;
            text-shadow: 0 0 0 inherit;
            opacity: 0.04;
        }
        
        p {
            margin: 64px 0;
            font-family: roboto;
            font-weight: 400;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.7)
        }
    }
}

.printek-box {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding: 16px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7);
    font-family: raleway;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}


// Multi-used 'printek-menu' component
// needs to be styled globally due to encapsulation
#footer__menu a {
    justify-content: center;
    margin: 0 32px 16px 0;
    color: rgba(255, 255, 255, 0.7);
    
    .fukocons {
        background-color: rgba(255, 255, 255, 0.7);
    }

    &.active,
    &:hover {
        color: #fff;

        .fukocons {
            background-color: #fff;
        }
    }
    &:nth-child(4) {
        margin: 0;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5) {
        &::before {
            content: none;
        }
    }
}


#end-user .printek-topbar printek-menu a {
    margin: 16px 0;
    transform-origin: top left;

    &:nth-child(5) {
        flex-direction: row-reverse;

        &::before {
            content: 'Hesabım';
            width: unset;
        }
    }
    &:last-child {
        display: none;
    }
}


// printek-contact acar-ui-carousel elements
// need to be global due to encapsulation
printek-contact {

    .slide-item {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 96px;
        height: 96px;
        box-shadow: 0 3px 20px -3px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        transition:
            opacity    0.4s ease,
            transform  0.4s ease,
            box-shadow 0.3s ease;

        img {
            height: 100%;
        }

        &:hover {
            box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
        }

        &.deepPrev {
            opacity: 0;
            transform: scale(0.8);
        }
        &.prev {
            transform: translate3d(112px, 0, 0) scale(0.9);
        }
        &.current {
            transform: translate3d(224px, 0, 0);
        }
        &.next {
            transform: translate3d(336px, 0, 0) scale(0.9);
        }
        &.deepNext {
            transform: translate3d(448px, 0, 0) scale(0.8);
            opacity: 0;
        }
    }

    .slider__buttons {
        position: absolute;
        z-index: 1;
        width: 96px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        left: 16px;

        .slider__button {
            width: 36px;
            height: 36px;
            background-color: #1FA2FF;
            cursor: pointer;

            &.slider__button--prev {
                mask:
                    url('assets/fukocons/prev.svg')
                    no-repeat center/contain;
            }
            &.slider__button--next {
                mask:
                    url('assets/fukocons/next.svg')
                    no-repeat center/contain;
            }
        }
    }
}
